<div class="container">

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <div class="banner-content">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div class="form-group search-form">
        <h3> Your coat details </h3>
        <div class="features">
          <p style="color:black;"><strong>COAT </strong><%=@coat.name %></a></p>
          <p style="color:black;"><strong>SIZE </strong><%=@coat.size %></a></p>
          <p style="color:black;"><strong>PRICE </strong><%=@coat.price %>EUR</p>
          <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @coat.photo %>);">
          </div>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-6">
        <%= render "forms/booking_form" %>
    </div>
  </div>
  <div
    class="map-img"
    style="background-image: url('https://res.cloudinary.com/dzcwxfufs/image/upload/v1533913574/samples/map.png')"
    data-markers="<%= @markers.to_json %>">
  </div>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
</div>


