<div class="container dash-container">
  <div class="col-xs-12 col-sm-10-col-sm-offset-1">
    <div class="linked-accounts" >
      <div class="base-card bank-card" style="background-image: url( https://res.cloudinary.com/dzcwxfufs/image/upload/v1533655051/2ad92f03deeca4aa5e8b2fb27e8de16b.jpg);">
        Bank Card 1
      </div>
      <div class="base-card bank-card " style="background-image: url(https://res.cloudinary.com/dzcwxfufs/image/upload/v1533655763/800px_COLOURBOX13351686.jpg);"></div>
      <div class="base-card bank-card">
        <i class="fas fa-plus-circle"></i>
      </div>
    </div>
    <!-- Check if any bookings -->
    <% if @bookings.blank? %>
      <div class="no-booking">
        <h3><%= "You have no bookings yet!" %></h3>
        <% end %>
      </div>
    <!-- Start of a dashboard card -->
    <% @bookings.each do |booking| %>
      <div class="base-card dashboard-card">
        <div class="sub-logo" style="background-image: url(<%= booking.coat.photo %>);"></div>
        <div class="dash-card-item">
          <i class="fas fa-euro-sign"></i>
          <h3>EUR <%= booking.coat.price %> /w</h3>
        </div>
        <div class="dash-detail-sum">
          <i class="fas fa-info-circle"></i>
          <h3>Title: <%= booking.coat.name %> </h3>
        </div>
        <div class="dash-card-item">
          <i class="far fa-calendar-alt"></i><h3> <%= booking.start_date %> </h3>
        </div>
        <div class="dash-button">
          <%= simple_form_for "#" do |f| %>
            <%= f.button :submit, "Reminder", class: "form-button" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
