<div class="container dash-container">
  <div class="col-xs-12 col-sm-10-col-sm-offset-1">
    <!-- Add account -->
    <!-- Show linked accounts -->

    <div class="linked-accounts" >
      <% if !@bookings.blank? %>
        <% @categories.each do |category| %>
          <%= link_to category do %>
            <div class="base-card bank-card" style="background-image: url(<%= category.photo %>);">
              <h3><strong><%= category.name %></strong></h3>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to categories_path, class: "no-hover-link" do %>
        <div class="base-card bank-card" id="add-card">
          <i class="fas fa-plus-circle"></i>
        </div>
      <% end %>
    </div>
    <!-- Check if any bookings -->
    <% if @bookings.blank? %>
      <div class="no-booking">
        <h3><%= "You have no bookings yet!" %></h3>
      </div>
    <% end %>
    <!-- Start of a dashboard card -->
    <div id="sub-cards">
      <% @bookings.each do |booking| %>
        <div class="base-card dashboard-card">
          <div class="sub-logo" style="background-image: url(<%= booking.coat.photo %>);"></div>
          <div class="dash-card-item">
            <i class="fas fa-euro-sign"></i>
            <h3>EUR <%= booking.coat.price %> /w</h3>
          </div>
          <div class="dash-card-item-cat hidden"><%= booking.coat.category.name %> </div>
          <div class="dash-detail-sum">
            <div class="d-flex align-items-center">
              <i class="fas fa-info-circle"></i>
            </div>
            <div class="d-flex flex-column">
              <h4 style="font-weight: lighter;">Title: <%= booking.coat.name %> </h4>
              <h4 style="font-weight: lighter;">Category: <%= booking.coat.category.name %> </h4>
            </div>
          </div>
          <div class="dash-card-item">
            <i class="far fa-calendar-alt"></i><h3> <%= booking.start_date %> </h3>
          </div>
          <div class="dash-button">
            <%= simple_form_for "#" do |f| %>
              <%= f.button :submit, "Reminder", class: "form-button" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
