<div class="big-container">
    <div class="card-show-cat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @category.photo %>);">
      <div class="card-description-cat-show">
        <h2><%=@category.name%></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <%= render "forms/category_search" %>
        </div>
        <% @coats.each do |coat| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= link_to coat_path(coat) do %>
              <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= coat.photo %>);">
                <div class="card-category-name-show"><%= coat.name %></div>
                <div class="card-category-cat-show"><%= coat.size %></div>
                <div class="card-description-cat-show"><%= "#{coat.price} €"   %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
